[Desktop Entry]
Type=Application
Name=mpvplay-handler
GenericName=Multimedia player
Comment=Play website videos and songs with mpv & yt-dlp
NoDisplay=true
Icon=mpv
Exec=mpvplay-handler %u
Terminal=true
Categories=AudioVideo;Audio;Video;Player;TV;
MimeType=x-scheme-handler/mpv;
X-KDE-Protocols=mpv
